body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile {
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 200px; 
    height: 200px;
}

.fb-image-petprofile
{
    margin: -45px 10px 0px 50px;
    z-index: 9;
    width: 150px; 
    height: 150px;
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-textover>h1{
    color: #F3F3F3;
    font-weight: 70;
    font-size:500px;
}

}